{% extends 'usuarios/base.html' %}

{% block aba %}Alterar Contracheque{% endblock %}

{% block titulo %}Alterar Contracheque{% endblock %}

{% block conteudo %}
<h3>Alteração de Contracheques Emitidos</h3>
<hr>

<div class = "table-responsive">
    <table class = "table table-striped">
        <tr>
            <th>Funcionário</th>
            <th>Empresa</th>
            <th>Salario Bruto</th>
            <th>Gratificações</th>
            <th>Descontos</th>
            <th>Salário Líquido</th>
            <th>Opções</th>
        </tr>
        {% for campo in lista_notas %}
        <tr>
            <td>Paulo Fernando Oliveira</td>
            <td>{{ campo.disciplina }}</td>
            <td>{{ campo.nota_atividades }}</td>
            <td>{{ campo.nota_trabalho }}</td>
            <td>{{ campo.nota_prova }}</td>
            <td>{{ campo.media }}</td>
            <td>
                <a href = "{% url 'editar_verificacao' campo.pk %}" class = "btn btn-warning btn-sm">Editar</a>
                <a href = "{% url 'excluir_verificacao' campo.pk %}" class = "btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan = "6">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
<hr>
{% endblock %}